{% extends "parents/base.html" %}

{% block headtitle %}
- {% block title %}{% endblock %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_sort.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme/darcula.css') }}">
<link rel="stylesheet" href="https://codemirror.net/addon/display/fullscreen.css">
{% endblock %}

{% block audio %}
<form action="{{url_for( self.title().lower().replace(' ', '').strip()[:-4] + '_sort' )}}" method="post">
    <button type="submit" id="audio" class="ripple sidenav-btn"><i class="material-icons icon">volume_up</i></button>
</form>
{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='js/base_sort.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
<script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullscreen.js') }}"></script>
<script src="{{ url_for('static', filename='js/mode/javascript/javascript.js') }}"></script>
<script src="https://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="https://codemirror.net/addon/edit/closebrackets.js"></script>
<script src="https://codemirror.net/addon/hint/show-hint.js"></script>
<script src="https://codemirror.net/addon/comment/comment.js"></script>

<script>
    let audio = '{{ audio }}'[0] == "T" | 0;
    audioButton(audio);

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% block js %}
{% endblock %}

<div>
    <div id="box">
        <div class="title" data-aos="fade-down">
            {{ self.title() }}
        </div>
        <div style="float: right; white-space: nowrap;">
            <button class="sort-btns" id="shuffle-btn" onclick="shuffle()"><i class="material-icons">shuffle</i></button>
            <button class="sort-btns" id="run-btn" onclick="run()" disabled><i class="material-icons">play_arrow</i></button>
            <div class="slider-container">
                <div style="display: float; text-align: center;">
                    Elements: <span id="slider-span">100</span><br>
                </div>
                <input type="range" value="100" min="10" max="1000" step="5" name="item-num" id="slider" oninput="sliderChange()">
            </div>
        </div>

        <div style="clear: both; padding-top: 20px;">
            <div id="sort-container">
            </div>
        </div>

    </div>
</div>
<div id="sort-cover">
    <div class="info-parent">
        <div class="sort-description">
            <div style="font-family: 'Jura', Courier, monospace; font-size: 35px;">INSTRUCTIONS</div>
            {% block info %}
            {% endblock %}
        </div>
    </div>
    <div class="menu-box">
        <div style="font-family: 'Jura', Courier, monospace; font-size: 35px;">IMPLEMENTATIONS</div>
        <div id="codeTest" style="width: 50%; border: 4px solid #242424; margin-top: 35px; border-radius: 5px;"></div>
    </div>
</div>

<script>
    const editor = CodeMirror(document.getElementById("codeTest"), {
        theme: "darcula",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        extraKeys: {
            "F11": function(cm) {
                console.log("lolll")
              cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },

            "Esc": function(cm) {
              if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
            },
            "Ctrl-/": "toggleComment",
        }
    });
</script>
{% endblock %}
