{% extends "parents/base.html" %}

{% block headtitle %}
- {% block title %}{% endblock %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/others/highlightjs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_sort.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/base_sort.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/others/highlight.js') }}" defer></script>
<script>
    let audio = '{{ audio }}'[0] == "T" | 0;
</script>

{% endblock %}

{% block audio %}
<button type="submit" id="audio" class="ripple sidenav-btn"><i class="material-icons icon">volume_up</i></button>
{% endblock %}

{% block content %}
{% block js %}
{% endblock %}
<div>
    <div id="box">
        <div class="title" data-aos="fade-down">
            {{ self.title() }}
        </div>
        <div style="float: right; white-space: nowrap;">
            <button class="sort-btns" id="shuffle-btn" onclick="shuffle()"><i class="material-icons">shuffle</i></button>
            <button class="sort-btns" id="run-btn" onclick="run()" disabled><i class="material-icons">play_arrow</i></button>
            <div class="slider-container">
                <div id="elements-text">
                    Elements: <span id="slider-span">100</span><br>
                </div>
                <input type="range" value="100" min="10" max="1000" step="5" name="item-num" id="slider" oninput="sliderChange()">
            </div>
        </div>

        <div style="clear: both; padding-top: 20px;">
            <div id="sort-container">
            </div>
        </div>

    </div>
</div>
<div id="sort-cover">
    <div class="info-parent">
        <div class="sort-description">
            <div style="font-family: 'Jura', Courier, monospace; font-size: 35px;">DESCRIPTION</div>
            {% block info %}
            {% endblock %}
        </div>
        <div class="table-box">
            <div style="font-family: 'Jura', Courier, monospace; font-size: 35px;">COMPLEXITY</div>
            <table class="sort-table" data-aos="flip-left">
                <tr>
                    <th>
                        Average Complexity
                    </th>
                    <td>
                        {% block medio %}
                        {% endblock %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Best Case
                    </th>
                    <td>
                        {% block migliore %}
                        {% endblock %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Worst Case
                    </th>
                    <td>
                        {% block peggiore %}
                        {% endblock %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Space Complexity
                    </th>
                    <td>
                        {% block memoria %}
                        {% endblock %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="menu-box">
        <div style="font-family: 'Jura', Courier, monospace; font-size: 35px;">IMPLEMENTATIONS</div>
        <div id="menu-code" data-aos="fade-right">
            <div class="menu-btns" id="menu-btns">
                <button><img src="{{url_for('static', filename='images/c_icon.png')}}" width="32" height="32" title="C" alt="C"></button>
                <button><img src="{{url_for('static', filename='images/cpp_icon.png')}}" width="32" height="32" title="C++" alt="C++"></button>
                <button><img src="{{url_for('static', filename='images/java_icon.png')}}" width="32" height="32" title="Java" alt="Java"></button>
                <button><img src="{{url_for('static', filename='images/javascript_icon.png')}}" width="32" height="32" title="JavaScript" alt="JavaScript"></button>
                <button><img src="{{url_for('static', filename='images/python_icon.png')}}" width="32" height="32" title="Python" alt="Python"></button>
            </div>
            <div id="code-content">
                <pre>
                    <code id="code"></code>
                </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
