{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/bitonicsort.js') }}"></script>
{% endblock %}

{% block title %}
Bitonic Sort
{% endblock %}

{% block info %}
<p data-aos="fade-right">
Il Bitonic Sort è un algoritmo di sorting basato su confronti. Sfrutta sequenze bitoniche, quindi può essere usato solo se si ha un numero di elementi pari ad una potenza di 2.
</p>
<p data-aos="fade-right">
L'algoritmo è composto principalmente da due parti. Inizialmente, la struttura dati viene convertita in una sequenza bitonica, creando gruppi di elementi crescenti e decrescenti collegati.
Successivamente, i gruppi vengono fusi con un algoritmo simile al <a href="/mergesort">Merge Sort</a> finchè la struttura dati non è ordinata.
</p>
<p data-aos="fade-right">
Può essere implementato in numerose varianti, in modo iterativo o ricorsivo, producendo visualizzazioni differenti. Qui è presentata la versione iterativa.
</p>
{% endblock %}

{% block medio %}
O(log<sup>2</sup> n)
{% endblock %}

{% block peggiore %}
O(log<sup>2</sup> n)
{% endblock %}

{% block migliore %}
O(log<sup>2</sup> n)
{% endblock %}

{% block memoria %}
O(n × log<sup>2</sup> n)
{% endblock %}
