{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/bogosort.js') }}"></script>
{% endblock %}

{% block title %}
Bogo Sort
{% endblock %}

{% block info %}
<p data-aos="fade-right">
The Bogo Sort algorithm (also called Stupid Sort) is an iterative sorting algorithm particularly inefficient. It's based on randomly shufflying the elements of the data structure and then check if they are ordered.
If not, repeat this process.
</p>
<p data-aos="fade-right">
It is a probabilistic algorithm. It can be proven mathematically that it will arrive at the solution on average in about <var>n x n!</var> iterations, while the worst case performance is not measurable.
</p>
{% endblock %}

{% block medio %}
O(n × n!)
{% endblock %}

{% block peggiore %}
∞
{% endblock %}

{% block migliore %}
O(n)
{% endblock %}

{% block memoria %}
O(1)
{% endblock %}
