{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/bubblesort.js') }}" defer></script>
{% endblock %}

{% block title %}
Bubble Sort
{% endblock %}

{% block info %}
<p>
Bubble Sort is an iterative sorting algorithm that imitates the movement of bubbles in sparkling water.
The bubbles represents the elements of the data structure.
</p>
<p>
The bigger bubbles reach the top faster than smaller bubbles, and this algorithm works in the same way. It iterates through the data structure and for each cycle compares the current element with the next one,
swapping them if they are in the wrong order.
</p>
<p>
It's a simple algorithm to implement, but not much efficient: on average, quadratic sorting algorithms with the same time complexity such as <a href="/selectionsort">Selection Sort</a> or <a href="/insertionsort">Insertion Sort</a> perform better.<br>
It has several variants to improve its performances, such as <a href="/shakersort">Shaker Sort</a>, <a href="/oddevensort">Odd Even Sort</a> and <a href="/combsort">Comb Sort</a>.
</p>
{% endblock %}

{% block medio %}
O(n<sup>2</sup>)
{% endblock %}

{% block peggiore %}
O(n<sup>2</sup>)
{% endblock %}

{% block migliore %}
O(n)
{% endblock %}

{% block memoria %}
O(1)
{% endblock %}
