{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/combsort.js') }}" defer></script>
{% endblock %}

{% block title %}
Comb Sort
{% endblock %}

{% block info %}
<p>
Comb Sort is a sorting algorithm really similar to <a href="/bubblesort">Bubble Sort</a>. It highly improves its performances by removing the "turtles", that is the small elements placed near the end of the data structure that slows down
a lot the performances of Bubble Sort.
</p>
<p>
Bubble Sort is based on comparing adjacent elements, so with a distance of 1. Comb Sort increases this distance using a shrink factor <var>k</var> (usually with a value of 1.3).
Initially, the distance has a value of <var>n</var>. For each iteration, a Bubble Sort gets executed using the new distance value instead of 1. The distance gets progressively divided by the shrink factor <var>k</var>.
</p>
<p>
This procedure gets executed until the distance reaches the value of 1. At this point, the algorithm is a regular Bubble Sort, but the majority of the "turtles" already got removed.
</p>
<p>
Its average time complexity depends, in addition to the number of elements of the data structure, by a value  <var>p</var>, representing the number of divisions carried out.
</p>
{% endblock %}

{% block medio %}
<span class="symbol">Ω</span>(n<sup>2</sup> / 2<sup>p</sup>)
{% endblock %}

{% block peggiore %}
O(n<sup>2</sup>)
{% endblock %}

{% block migliore %}
<span class="symbol">Θ</span>(n × log n)
{% endblock %}

{% block memoria %}
O(1)
{% endblock %}
