{% extends "parents/base_custom.html" %}

{% block title %}
Custom Sort
{% endblock %}

{% block info %}
<p>
    Implement and visualize your sort algorithm using the JavaScript programming language.
</p>
<p>
    Write an <i>asyncronous</i> function that takes an <code>Array</code> of <code>DOM element objects</code> as a parameter and type the entry point of the algorithm in the appropriate text field below.
</p>
<p>
    Sort the elements in-place, in ascending order using the <a href="/docs" target="_blank">documented APIs</a> for the visualization.
</p>
<p>
    When you're done, you can contribute to this project by submitting your code to us. We'll review it and implement it!
    You can add notes and suggestions in the code as comments.
</p>
{% endblock %}
