{% extends "parents/base_custom.html" %}

{% block title %}
Custom Sort
{% endblock %}

{% block info %}
<p data-aos="fade-right">
    Implement and visualize your sort algorithm using the JavaScript programming language.
</p>
<p data-aos="fade-right">
    Write an <i>asyncronous</i> function that takes an <code>Array</code> of <code>DOM element objects</code> as a parameter and type the entry point of the algorithm in the appropriate text field below.
</p>
<p data-aos="fade-right">
    Sort the elements in-place, in ascending order using the <a href="/api" target="_blank">documented APIs</a> for the visualization.
</p>
{% endblock %}
