{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/gnomesort.js') }}" defer></script>
{% endblock %}

{% block title %}
Gnome Sort
{% endblock %}

{% block info %}
<p>
Gnome Sort is a sorting algorithm really similar to <a href="/insertionsort">Insertion sort</a>. Gnome Sort is based on dividing the data structure in two sublists: a sorted one, and an unsorted one.
For every cycle, the algorithm picks an element of the unsorted sublist and moves it with sequential swaps to the right position in the sorted sublist.
</p>
<p>
The main difference from the Insertion Sort is that the implementation doesn't require nested loops. Like the Insertion Sort, this algorithm is more efficient on small data structures almost sorted.
</p>
{% endblock %}

{% block medio %}
O(n<sup>2</sup>)
{% endblock %}

{% block peggiore %}
O(n<sup>2</sup>)
{% endblock %}

{% block migliore %}
O(n)
{% endblock %}

{% block memoria %}
O(1)
{% endblock %}
