{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/insertionsort.js') }}" defer></script>
{% endblock %}

{% block title %}
Insertion Sort
{% endblock %}

{% block info %}
<p>
Insertion sort is a simple sorting algorithm that builds the final sorted array one item at a time.
It's less performant than advanced sorting algorithms, but it can still have some advantages: it's really easy to implement and it's efficient on small data structures almost sorted.
</p>
<p>
The algorithm divides the data structure in two sublists: a sorted one, and one still to sort. Initially, the sorted sublist is made up of just one element and it gets progressively filled.
For every iteration, the algorithm picks an element on the unsorted sublist and inserts it at the right place in the sorted sublist.
It's available in several variants such as <a href="/gnomesort">Gnome Sort</a>.
</p>
{% endblock %}

{% block medio %}
O(n<sup>2</sup>)
{% endblock %}

{% block peggiore %}
O(n<sup>2</sup>)
{% endblock %}

{% block migliore %}
O(n)
{% endblock %}

{% block memoria %}
O(1)
{% endblock %}
