{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/radixsort.js') }}"></script>
{% endblock %}

{% block title %}
Radix Sort
{% endblock %}

{% block info %}
<p data-aos="fade-right">
Radix Sort is a sorting algorithm that doesn't use comparisons. Its complexity depends, in addition to the number of elements, by a value k, representing the mean of the number of digits of the elements.
It sorts the data structure by position, starting from the least significant digit (LSD) or most significan digit (MSD) of the number.
The algorithm divides the structure in groups, called "buckets", equal to the radix of the numbers in quantity.
</p>
<p data-aos="fade-right">
It's a particular sorting algorithm really different from the others. It's not based on comparisons, but it's based on the digits of the number, so it's only applicable on whole numbers.
It can be faster than other logarithmic sorting algorithms on big data structures, but it's not widely used due to its limitations.
</p>
{% endblock %}

{% block medio %}
O(n × k)
{% endblock %}

{% block peggiore %}
O(n × k)
{% endblock %}

{% block migliore %}
O(n × k)
{% endblock %}

{% block memoria %}
O(n)
{% endblock %}
