{% extends "parents/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/radixsort.js') }}" defer></script>
{% endblock %}

{% block title %}
Radix Sort
{% endblock %}

{% block info %}
<p>
Radix Sort is a sorting algorithm that doesn't use comparisons.
Its complexity depends, in addition to the number of elements, by the values <var>b</var> and <var>d</var>, representing the radix of the numbers and the maximum number of digits of the elements respectively.
</p>
<p>
Radix Sort works by splitting the elements into buckets, according to their radix, starting from the least significant digit (LSD) or from the most significant digit (MSD) of the number.
If the number has more than one significant digit, this process is repeated to account all the digits of the number.
</p>
<p>
It's a particular sorting algorithm really different from the others as it is not based on comparisons, but on the digits of the number instead, so it's only applicable on whole numbers or strings.
</p>
<p>
It can be faster than other logarithmic sorting algorithms on big data structures as it can even perform in linear time in special cases, but it's not widely used due to its limitations.
</p>
{% endblock %}

{% block medio %}
O(d × (n + b))
{% endblock %}

{% block peggiore %}
O(d × (n + b))
{% endblock %}

{% block migliore %}
O(d × (n + b))
{% endblock %}

{% block memoria %}
O(n + 2^d)
{% endblock %}
