{% extends "parents/base.html" %}
{% block head %}
<meta name="description" content="A visualization of 15+ sorting algorithms, including Quick Sort, Merge Sort, Selection Sort and more!">
<meta name="robots" content="index, follow">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}
{% block content %}
<div id="header"><span id="first-header">SORT</span><br><span id="second-header">VISUALIZER</span></div>
<div id="cover">
    <div id="description-box">
        <h2 style="font-family: 'Electrolize', Courier, monospace;">
            Sorting Algorithms
        </h2>
        <div class="description-content">
            <p>Sorting algorithms are used to sort a data structure according to a specific order relationship, such as numerical order or lexicographical order.</p>
            <p>
                This operation is one of the most important and widespread in computer science.
                For a long time, new methods have been developed to make this procedure faster and faster.
            </p>
            <p>
            There are currently hundreds of different sorting algorithms, each with its own specific characteristics.
            They are classified according to two metrics: space complexity and time complexity.<br><br>
            Those two kinds of complexity are represented with <a href="https://www.programiz.com/dsa/asymptotic-notations#:~:text=Asymptotic%20notations%20are%20the%20mathematical,linear%20i.e.%20the%20best%20case." target="_blank">asymptotic notations</a>, mainly with the symbols O, <span class="symbol">Θ</span>, <span class="symbol">Ω</span>, representing
            respectively the upper bound, the tight bound, and the lower bound of the algorithm's complexity, specifying in brackets an expression in terms of
            <code><var>n</var></code>, the number of the elements of the data structure.<br><br>
            Most of them fall into two categories:
            </p>
            <ul>
                <li>Logarithmic<br>
                    The complexity is proportional to the binary logarithm (i.e to the base 2) of <code><var>n</var></code>.<br>
                    An example of a logarithmic sorting algorithm is Quick sort, with space and time complexity O<code>(n × log n)</code>.<br><br>
                </li>
                <li>Quadratic<br>
                    The complexity is proportional to the square of <code><var>n</var></code>.<br>
                    An example of a quadratic sorting algorithm is Bubble sort, with a time complexity of O<code>(n<sup>2</sup>)</code>.<br>
                </li>
            </ul>
            <p>
                Space and time complexity can also be further subdivided into 3 different cases: best case, average case and worst case.
            </p>
            <p>
                Sorting algorithms can be difficult to understand and it's easy to get confused.
                We believe visualizing sorting algorithms can be a great way to better understand their functioning while having fun!
            </p>
            <button id="sort-btn" class="ripple-sort-btn open">SORTS</button>
        </div>
    </div>
</div>

{% endblock %}
